In [1]:
import pandas as pd
import dask.dataframe as dd

In [2]:
tickets = dd.read_parquet('../data/parking_tickets/parquet/full_data_cleaned.parquet')
weather = pd.read_csv('../data/additional_data/weather/weather_NYC_2013_2024_processed.csv')

In [3]:
display(tickets.head()), display(weather)
tickets["Issue Date"].dtypes, weather["datetime"].dtypes

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Days Parking In Effect,From Hours In Effect,To Hours In Effect,Vehicle Color,Vehicle Year,Feet From Curb,Violation Post Code,Violation Description,Latitude,Longitude
7285,1351801788,41666JM,NY,COM,1372723200000,14,VAN,,P,45440,...,BBBBBBB,ALL,ALL,,0,0,,,40.707333,-74.007828
7443,1351801790,99208MC,NY,COM,1372723200000,14,VAN,,P,45440,...,BBBBBBB,ALL,ALL,,0,0,,,40.707333,-74.007828
7733,1351801806,49965JG,NY,COM,1372723200000,14,VAN,,P,13590,...,BBBBBBB,ALL,ALL,,0,0,,,40.703620,-74.010706
8322,1291521665,YANKYJAM,NY,PAS,1372723200000,46,SDN,BMW,F,5430,...,BBBBBBB,ALL,ALL,BLK,0,0,,,40.645503,-74.013282
8325,1335816963,XX865Y,NJ,PAS,1372723200000,78,DELV,CHEVR,P,24790,...,BBBBBBB,ALL,ALL,WHITE,0,0,,,40.719650,-74.010185

,datetime,tempmax,tempmin,temp,conditions,humidity,windspeed,visibility
0,2013-01-01,4.2,-2.7,2.7,Partially cloudy,55.5,38.9,16.0
1,2013-01-02,0.3,-5.4,-2.5,Partially cloudy,49.8,27.7,16.0
2,2013-01-03,0.2,-3.9,-1.7,Partially cloudy,55.0,27.7,16.0
3,2013-01-04,3.0,-0.4,1.3,Partially cloudy,53.5,29.5,16.0
4,2013-01-05,5.9,0.3,2.7,Partially cloudy,48.2,23.8,16.0
...,...,...,...,...,...,...,...,...
360,2013-12-27,4.1,0.2,2.1,Partially cloudy,49.4,29.5,16.0
361,2013-12-28,12.9,2.7,7.1,Clear,42.0,23.2,16.0
362,2013-12-29,8.9,5.0,6.9,"Rain, Partially cloudy",65.4,20.5,12.0
363,2013-12-30,6.8,-4.1,2.9,Partially cloudy,60.6,35.3,16.0
364,2013-12-31,0.0,-5.9,-3.2,Partially cloudy,50.6,22.0,15.8

(dtype('int64'), dtype('O'))

In [4]:
tickets["Issue Date"] = dd.to_datetime(tickets["Issue Date"], unit="ms").dt.floor("D")
weather["datetime"] = pd.to_datetime(weather["datetime"]).dt.floor("D")

In [5]:
display(tickets.head()), display(weather.head())

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Days Parking In Effect,From Hours In Effect,To Hours In Effect,Vehicle Color,Vehicle Year,Feet From Curb,Violation Post Code,Violation Description,Latitude,Longitude
7285,1351801788,41666JM,NY,COM,2013-07-02,14,VAN,,P,45440,...,BBBBBBB,ALL,ALL,,0,0,,,40.707333,-74.007828
7443,1351801790,99208MC,NY,COM,2013-07-02,14,VAN,,P,45440,...,BBBBBBB,ALL,ALL,,0,0,,,40.707333,-74.007828
7733,1351801806,49965JG,NY,COM,2013-07-02,14,VAN,,P,13590,...,BBBBBBB,ALL,ALL,,0,0,,,40.703620,-74.010706
8322,1291521665,YANKYJAM,NY,PAS,2013-07-02,46,SDN,BMW,F,5430,...,BBBBBBB,ALL,ALL,BLK,0,0,,,40.645503,-74.013282
8325,1335816963,XX865Y,NJ,PAS,2013-07-02,78,DELV,CHEVR,P,24790,...,BBBBBBB,ALL,ALL,WHITE,0,0,,,40.719650,-74.010185

,datetime,tempmax,tempmin,temp,conditions,humidity,windspeed,visibility
0,2013-01-01,4.2,-2.7,2.7,Partially cloudy,55.5,38.9,16.0
1,2013-01-02,0.3,-5.4,-2.5,Partially cloudy,49.8,27.7,16.0
2,2013-01-03,0.2,-3.9,-1.7,Partially cloudy,55.0,27.7,16.0
3,2013-01-04,3.0,-0.4,1.3,Partially cloudy,53.5,29.5,16.0
4,2013-01-05,5.9,0.3,2.7,Partially cloudy,48.2,23.8,16.0

(None, None)

In [6]:
merged = tickets.merge(weather, how="left", left_on="Issue Date", right_on="datetime")
merged

Dask DataFrame Structure:
               Summons Number Plate ID Registration State Plate Type      Issue Date Violation Code Vehicle Body Type Vehicle Make Issuing Agency Street Code1 Street Code2 Street Code3 Vehicle Expiration Date Violation Location Violation Precinct Issuer Precinct Issuer Code Issuer Command Issuer Squad Violation Time Violation County Violation In Front Of Or Opposite House Number Street Name Intersecting Street Date First Observed Law Section Sub Division Violation Legal Code Days Parking In Effect From Hours In Effect To Hours In Effect Vehicle Color Vehicle Year Feet From Curb Violation Post Code Violation Description Latitude Longitude        datetime  tempmax  tempmin     temp conditions humidity windspeed visibility
npartitions=20
                        int64   string             string     string  datetime64[ns]          int64            string       string         string        int64        int64        int64                   int64              int64              int64           int64       int64         string       string         string           string                            string       string      string              string               int64       int64       string               string                 string               string             string        string        int64          int64              string                string  float64   float64  datetime64[ns]  float64  float64  float64     string  float64   float64    float64
                          ...      ...                ...        ...             ...            ...               ...          ...            ...          ...          ...          ...                     ...                ...                ...             ...         ...            ...          ...            ...              ...                               ...          ...         ...                 ...                 ...         ...          ...                  ...                    ...                  ...                ...           ...          ...            ...                 ...                   ...      ...       ...             ...      ...      ...      ...        ...      ...       ...        ...
...                       ...      ...                ...        ...             ...            ...               ...          ...            ...          ...          ...          ...                     ...                ...                ...             ...         ...            ...          ...            ...              ...                               ...          ...         ...                 ...                 ...         ...          ...                  ...                    ...                  ...                ...           ...          ...            ...                 ...                   ...      ...       ...             ...      ...      ...      ...        ...      ...       ...        ...
                          ...      ...                ...        ...             ...            ...               ...          ...            ...          ...          ...          ...                     ...                ...                ...             ...         ...            ...          ...            ...              ...                               ...          ...         ...                 ...                 ...         ...          ...                  ...                    ...                  ...                ...           ...          ...            ...                 ...                   ...      ...       ...             ...      ...      ...      ...        ...      ...       ...        ...
                          ...      ...                ...        ...             ...            ...               ...          ...            ...          ...          ...          ...                     ...                ...                ...             ...         ...            ...          ...            ...              ...                               ...          ...         ...                 ...                 ...         ...          ...                  ...                    ...                  ...                ...           ...          ...            ...                 ...                   ...      ...       ...             ...      ...      ...      ...        ...      ...       ...        ...
Dask Name: merge, 7 expressions
Expr=Merge(472fe23)

In [7]:
merged.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Latitude,Longitude,datetime,tempmax,tempmin,temp,conditions,humidity,windspeed,visibility
0,1351801788,41666JM,NY,COM,2013-07-02,14,VAN,,P,45440,...,40.707333,-74.007828,2013-07-02,27.7,22.3,24.4,"Rain, Partially cloudy",86.2,13.0,13.4
1,1351801790,99208MC,NY,COM,2013-07-02,14,VAN,,P,45440,...,40.707333,-74.007828,2013-07-02,27.7,22.3,24.4,"Rain, Partially cloudy",86.2,13.0,13.4
2,1351801806,49965JG,NY,COM,2013-07-02,14,VAN,,P,13590,...,40.703620,-74.010706,2013-07-02,27.7,22.3,24.4,"Rain, Partially cloudy",86.2,13.0,13.4
3,1291521665,YANKYJAM,NY,PAS,2013-07-02,46,SDN,BMW,F,5430,...,40.645503,-74.013282,2013-07-02,27.7,22.3,24.4,"Rain, Partially cloudy",86.2,13.0,13.4
4,1335816963,XX865Y,NJ,PAS,2013-07-02,78,DELV,CHEVR,P,24790,...,40.719650,-74.010185,2013-07-02,27.7,22.3,24.4,"Rain, Partially cloudy",86.2,13.0,13.4

In [8]:
merged["Issue Date"].min().compute(), merged["Issue Date"].max().compute()

(Timestamp('2013-07-02 00:00:00'), Timestamp('2024-06-29 00:00:00'))

In [9]:
(merged["Issue Date"] >= pd.to_datetime("2013-07-01")).sum().compute()

np.int64(77810036)

In [10]:
start_date = pd.to_datetime("2013-07-01")
end_date = pd.to_datetime("2014-06-30")

In [11]:
fiscal_year_2013_2014 = merged[(merged["Issue Date"] >= start_date) & (merged["Issue Date"] <= end_date)]
for partition in fiscal_year_2013_2014.partitions:
    display(partition.compute())

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Latitude,Longitude,datetime,tempmax,tempmin,temp,conditions,humidity,windspeed,visibility
0,1351801788,41666JM,NY,COM,2013-07-02,14,VAN,,P,45440,...,40.707333,-74.007828,2013-07-02,27.7,22.3,24.4,"Rain, Partially cloudy",86.2,13.0,13.4
1,1351801790,99208MC,NY,COM,2013-07-02,14,VAN,,P,45440,...,40.707333,-74.007828,2013-07-02,27.7,22.3,24.4,"Rain, Partially cloudy",86.2,13.0,13.4
2,1351801806,49965JG,NY,COM,2013-07-02,14,VAN,,P,13590,...,40.703620,-74.010706,2013-07-02,27.7,22.3,24.4,"Rain, Partially cloudy",86.2,13.0,13.4
3,1291521665,YANKYJAM,NY,PAS,2013-07-02,46,SDN,BMW,F,5430,...,40.645503,-74.013282,2013-07-02,27.7,22.3,24.4,"Rain, Partially cloudy",86.2,13.0,13.4
4,1335816963,XX865Y,NJ,PAS,2013-07-02,78,DELV,CHEVR,P,24790,...,40.719650,-74.010185,2013-07-02,27.7,22.3,24.4,"Rain, Partially cloudy",86.2,13.0,13.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4194299,7054994887,35168JS,NY,COM,2014-02-11,42,VAN,FORD,T,10210,...,40.740982,-73.981887,NaT,NaN,NaN,NaN,<NA>,NaN,NaN,NaN
4194300,7054994899,59606MC,NY,COM,2014-02-11,42,VAN,FORD,T,17690,...,40.738920,-73.982295,NaT,NaN,NaN,NaN,<NA>,NaN,NaN,NaN
4194301,7054994905,93331MC,NY,COM,2014-02-11,69,VAN,FORD,T,10210,...,40.740250,-73.981505,NaT,NaN,NaN,NaN,<NA>,NaN,NaN,NaN
4194302,7054994917,83962W,WI,PAS,2014-02-11,47,DELV,ISUZU,T,10210,...,40.739497,-73.982352,NaT,NaN,NaN,NaN,<NA>,NaN,NaN,NaN
4194303,7054994930,65359MB,NY,COM,2014-02-11,69,PICK,CHEVR,T,10210,...,40.740982,-73.981887,NaT,NaN,NaN,NaN,<NA>,NaN,NaN,NaN

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Latitude,Longitude,datetime,tempmax,tempmin,temp,conditions,humidity,windspeed,visibility
0,7054994942,56180JL,NY,COM,2014-02-11,14,DELV,INTER,T,10110,...,40.746935,-73.976715,NaT,NaN,NaN,NaN,<NA>,NaN,NaN,NaN
1,7052978416,83918MC,NY,COM,2014-02-11,69,VAN,FORD,T,34490,...,40.758496,-73.983901,NaT,NaN,NaN,NaN,<NA>,NaN,NaN,NaN
2,7052978428,61335JU,NY,COM,2014-02-11,69,REFG,UD,T,34490,...,40.758496,-73.983901,NaT,NaN,NaN,NaN,<NA>,NaN,NaN,NaN
3,7052978441,T633385C,NY,OMT,2014-02-11,31,4DSD,LINCO,T,34490,...,40.758496,-73.983901,NaT,NaN,NaN,NaN,<NA>,NaN,NaN,NaN
4,7052978477,XAZF63,NJ,PAS,2014-02-11,69,VAN,FORD,T,34510,...,40.759236,-73.983409,NaT,NaN,NaN,NaN,<NA>,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3064881,1363222727,GPW6790,NY,PAS,2014-06-29,71,SDN,NISSA,P,5730,...,40.656649,-73.983964,NaT,NaN,NaN,NaN,<NA>,NaN,NaN,NaN
3064882,1366535996,97205JU,NY,COM,2014-06-29,14,UTIL,FRUEH,P,34630,...,40.758266,-73.974336,NaT,NaN,NaN,NaN,<NA>,NaN,NaN,NaN
3064883,1366536010,60246MD,NY,COM,2014-06-29,47,DELV,HINO,P,10910,...,40.750910,-73.995660,NaT,NaN,NaN,NaN,<NA>,NaN,NaN,NaN
3064884,1366204694,FES3930,NY,PAS,2014-06-29,27,SDN,NISSA,P,55590,...,40.728427,-73.771441,NaT,NaN,NaN,NaN,<NA>,NaN,NaN,NaN
3064885,1372251169,FAE1977,NY,PAS,2014-06-29,70,SDN,CHEVR,P,64830,...,40.681058,-73.987455,NaT,NaN,NaN,NaN,<NA>,NaN,NaN,NaN

Empty DataFrame
Columns: [Summons Number, Plate ID, Registration State, Plate Type, Issue Date, Violation Code, Vehicle Body Type, Vehicle Make, Issuing Agency, Street Code1, Street Code2, Street Code3, Vehicle Expiration Date, Violation Location, Violation Precinct, Issuer Precinct, Issuer Code, Issuer Command, Issuer Squad, Violation Time, Violation County, Violation In Front Of Or Opposite, House Number, Street Name, Intersecting Street, Date First Observed, Law Section, Sub Division, Violation Legal Code, Days Parking In Effect, From Hours In Effect, To Hours In Effect, Vehicle Color, Vehicle Year, Feet From Curb, Violation Post Code, Violation Description, Latitude, Longitude, datetime, tempmax, tempmin, temp, conditions, humidity, windspeed, visibility]
Index: []

[0 rows x 47 columns]

Empty DataFrame
Columns: [Summons Number, Plate ID, Registration State, Plate Type, Issue Date, Violation Code, Vehicle Body Type, Vehicle Make, Issuing Agency, Street Code1, Street Code2, Street Code3, Vehicle Expiration Date, Violation Location, Violation Precinct, Issuer Precinct, Issuer Code, Issuer Command, Issuer Squad, Violation Time, Violation County, Violation In Front Of Or Opposite, House Number, Street Name, Intersecting Street, Date First Observed, Law Section, Sub Division, Violation Legal Code, Days Parking In Effect, From Hours In Effect, To Hours In Effect, Vehicle Color, Vehicle Year, Feet From Curb, Violation Post Code, Violation Description, Latitude, Longitude, datetime, tempmax, tempmin, temp, conditions, humidity, windspeed, visibility]
Index: []

[0 rows x 47 columns]

Empty DataFrame
Columns: [Summons Number, Plate ID, Registration State, Plate Type, Issue Date, Violation Code, Vehicle Body Type, Vehicle Make, Issuing Agency, Street Code1, Street Code2, Street Code3, Vehicle Expiration Date, Violation Location, Violation Precinct, Issuer Precinct, Issuer Code, Issuer Command, Issuer Squad, Violation Time, Violation County, Violation In Front Of Or Opposite, House Number, Street Name, Intersecting Street, Date First Observed, Law Section, Sub Division, Violation Legal Code, Days Parking In Effect, From Hours In Effect, To Hours In Effect, Vehicle Color, Vehicle Year, Feet From Curb, Violation Post Code, Violation Description, Latitude, Longitude, datetime, tempmax, tempmin, temp, conditions, humidity, windspeed, visibility]
Index: []

[0 rows x 47 columns]

Empty DataFrame
Columns: [Summons Number, Plate ID, Registration State, Plate Type, Issue Date, Violation Code, Vehicle Body Type, Vehicle Make, Issuing Agency, Street Code1, Street Code2, Street Code3, Vehicle Expiration Date, Violation Location, Violation Precinct, Issuer Precinct, Issuer Code, Issuer Command, Issuer Squad, Violation Time, Violation County, Violation In Front Of Or Opposite, House Number, Street Name, Intersecting Street, Date First Observed, Law Section, Sub Division, Violation Legal Code, Days Parking In Effect, From Hours In Effect, To Hours In Effect, Vehicle Color, Vehicle Year, Feet From Curb, Violation Post Code, Violation Description, Latitude, Longitude, datetime, tempmax, tempmin, temp, conditions, humidity, windspeed, visibility]
Index: []

[0 rows x 47 columns]

Empty DataFrame
Columns: [Summons Number, Plate ID, Registration State, Plate Type, Issue Date, Violation Code, Vehicle Body Type, Vehicle Make, Issuing Agency, Street Code1, Street Code2, Street Code3, Vehicle Expiration Date, Violation Location, Violation Precinct, Issuer Precinct, Issuer Code, Issuer Command, Issuer Squad, Violation Time, Violation County, Violation In Front Of Or Opposite, House Number, Street Name, Intersecting Street, Date First Observed, Law Section, Sub Division, Violation Legal Code, Days Parking In Effect, From Hours In Effect, To Hours In Effect, Vehicle Color, Vehicle Year, Feet From Curb, Violation Post Code, Violation Description, Latitude, Longitude, datetime, tempmax, tempmin, temp, conditions, humidity, windspeed, visibility]
Index: []

[0 rows x 47 columns]

Empty DataFrame
Columns: [Summons Number, Plate ID, Registration State, Plate Type, Issue Date, Violation Code, Vehicle Body Type, Vehicle Make, Issuing Agency, Street Code1, Street Code2, Street Code3, Vehicle Expiration Date, Violation Location, Violation Precinct, Issuer Precinct, Issuer Code, Issuer Command, Issuer Squad, Violation Time, Violation County, Violation In Front Of Or Opposite, House Number, Street Name, Intersecting Street, Date First Observed, Law Section, Sub Division, Violation Legal Code, Days Parking In Effect, From Hours In Effect, To Hours In Effect, Vehicle Color, Vehicle Year, Feet From Curb, Violation Post Code, Violation Description, Latitude, Longitude, datetime, tempmax, tempmin, temp, conditions, humidity, windspeed, visibility]
Index: []

[0 rows x 47 columns]

Empty DataFrame
Columns: [Summons Number, Plate ID, Registration State, Plate Type, Issue Date, Violation Code, Vehicle Body Type, Vehicle Make, Issuing Agency, Street Code1, Street Code2, Street Code3, Vehicle Expiration Date, Violation Location, Violation Precinct, Issuer Precinct, Issuer Code, Issuer Command, Issuer Squad, Violation Time, Violation County, Violation In Front Of Or Opposite, House Number, Street Name, Intersecting Street, Date First Observed, Law Section, Sub Division, Violation Legal Code, Days Parking In Effect, From Hours In Effect, To Hours In Effect, Vehicle Color, Vehicle Year, Feet From Curb, Violation Post Code, Violation Description, Latitude, Longitude, datetime, tempmax, tempmin, temp, conditions, humidity, windspeed, visibility]
Index: []

[0 rows x 47 columns]

Empty DataFrame
Columns: [Summons Number, Plate ID, Registration State, Plate Type, Issue Date, Violation Code, Vehicle Body Type, Vehicle Make, Issuing Agency, Street Code1, Street Code2, Street Code3, Vehicle Expiration Date, Violation Location, Violation Precinct, Issuer Precinct, Issuer Code, Issuer Command, Issuer Squad, Violation Time, Violation County, Violation In Front Of Or Opposite, House Number, Street Name, Intersecting Street, Date First Observed, Law Section, Sub Division, Violation Legal Code, Days Parking In Effect, From Hours In Effect, To Hours In Effect, Vehicle Color, Vehicle Year, Feet From Curb, Violation Post Code, Violation Description, Latitude, Longitude, datetime, tempmax, tempmin, temp, conditions, humidity, windspeed, visibility]
Index: []

[0 rows x 47 columns]

Empty DataFrame
Columns: [Summons Number, Plate ID, Registration State, Plate Type, Issue Date, Violation Code, Vehicle Body Type, Vehicle Make, Issuing Agency, Street Code1, Street Code2, Street Code3, Vehicle Expiration Date, Violation Location, Violation Precinct, Issuer Precinct, Issuer Code, Issuer Command, Issuer Squad, Violation Time, Violation County, Violation In Front Of Or Opposite, House Number, Street Name, Intersecting Street, Date First Observed, Law Section, Sub Division, Violation Legal Code, Days Parking In Effect, From Hours In Effect, To Hours In Effect, Vehicle Color, Vehicle Year, Feet From Curb, Violation Post Code, Violation Description, Latitude, Longitude, datetime, tempmax, tempmin, temp, conditions, humidity, windspeed, visibility]
Index: []

[0 rows x 47 columns]

Empty DataFrame
Columns: [Summons Number, Plate ID, Registration State, Plate Type, Issue Date, Violation Code, Vehicle Body Type, Vehicle Make, Issuing Agency, Street Code1, Street Code2, Street Code3, Vehicle Expiration Date, Violation Location, Violation Precinct, Issuer Precinct, Issuer Code, Issuer Command, Issuer Squad, Violation Time, Violation County, Violation In Front Of Or Opposite, House Number, Street Name, Intersecting Street, Date First Observed, Law Section, Sub Division, Violation Legal Code, Days Parking In Effect, From Hours In Effect, To Hours In Effect, Vehicle Color, Vehicle Year, Feet From Curb, Violation Post Code, Violation Description, Latitude, Longitude, datetime, tempmax, tempmin, temp, conditions, humidity, windspeed, visibility]
Index: []

[0 rows x 47 columns]

Empty DataFrame
Columns: [Summons Number, Plate ID, Registration State, Plate Type, Issue Date, Violation Code, Vehicle Body Type, Vehicle Make, Issuing Agency, Street Code1, Street Code2, Street Code3, Vehicle Expiration Date, Violation Location, Violation Precinct, Issuer Precinct, Issuer Code, Issuer Command, Issuer Squad, Violation Time, Violation County, Violation In Front Of Or Opposite, House Number, Street Name, Intersecting Street, Date First Observed, Law Section, Sub Division, Violation Legal Code, Days Parking In Effect, From Hours In Effect, To Hours In Effect, Vehicle Color, Vehicle Year, Feet From Curb, Violation Post Code, Violation Description, Latitude, Longitude, datetime, tempmax, tempmin, temp, conditions, humidity, windspeed, visibility]
Index: []

[0 rows x 47 columns]

Empty DataFrame
Columns: [Summons Number, Plate ID, Registration State, Plate Type, Issue Date, Violation Code, Vehicle Body Type, Vehicle Make, Issuing Agency, Street Code1, Street Code2, Street Code3, Vehicle Expiration Date, Violation Location, Violation Precinct, Issuer Precinct, Issuer Code, Issuer Command, Issuer Squad, Violation Time, Violation County, Violation In Front Of Or Opposite, House Number, Street Name, Intersecting Street, Date First Observed, Law Section, Sub Division, Violation Legal Code, Days Parking In Effect, From Hours In Effect, To Hours In Effect, Vehicle Color, Vehicle Year, Feet From Curb, Violation Post Code, Violation Description, Latitude, Longitude, datetime, tempmax, tempmin, temp, conditions, humidity, windspeed, visibility]
Index: []

[0 rows x 47 columns]

Empty DataFrame
Columns: [Summons Number, Plate ID, Registration State, Plate Type, Issue Date, Violation Code, Vehicle Body Type, Vehicle Make, Issuing Agency, Street Code1, Street Code2, Street Code3, Vehicle Expiration Date, Violation Location, Violation Precinct, Issuer Precinct, Issuer Code, Issuer Command, Issuer Squad, Violation Time, Violation County, Violation In Front Of Or Opposite, House Number, Street Name, Intersecting Street, Date First Observed, Law Section, Sub Division, Violation Legal Code, Days Parking In Effect, From Hours In Effect, To Hours In Effect, Vehicle Color, Vehicle Year, Feet From Curb, Violation Post Code, Violation Description, Latitude, Longitude, datetime, tempmax, tempmin, temp, conditions, humidity, windspeed, visibility]
Index: []

[0 rows x 47 columns]

Empty DataFrame
Columns: [Summons Number, Plate ID, Registration State, Plate Type, Issue Date, Violation Code, Vehicle Body Type, Vehicle Make, Issuing Agency, Street Code1, Street Code2, Street Code3, Vehicle Expiration Date, Violation Location, Violation Precinct, Issuer Precinct, Issuer Code, Issuer Command, Issuer Squad, Violation Time, Violation County, Violation In Front Of Or Opposite, House Number, Street Name, Intersecting Street, Date First Observed, Law Section, Sub Division, Violation Legal Code, Days Parking In Effect, From Hours In Effect, To Hours In Effect, Vehicle Color, Vehicle Year, Feet From Curb, Violation Post Code, Violation Description, Latitude, Longitude, datetime, tempmax, tempmin, temp, conditions, humidity, windspeed, visibility]
Index: []

[0 rows x 47 columns]

Empty DataFrame
Columns: [Summons Number, Plate ID, Registration State, Plate Type, Issue Date, Violation Code, Vehicle Body Type, Vehicle Make, Issuing Agency, Street Code1, Street Code2, Street Code3, Vehicle Expiration Date, Violation Location, Violation Precinct, Issuer Precinct, Issuer Code, Issuer Command, Issuer Squad, Violation Time, Violation County, Violation In Front Of Or Opposite, House Number, Street Name, Intersecting Street, Date First Observed, Law Section, Sub Division, Violation Legal Code, Days Parking In Effect, From Hours In Effect, To Hours In Effect, Vehicle Color, Vehicle Year, Feet From Curb, Violation Post Code, Violation Description, Latitude, Longitude, datetime, tempmax, tempmin, temp, conditions, humidity, windspeed, visibility]
Index: []

[0 rows x 47 columns]

Empty DataFrame
Columns: [Summons Number, Plate ID, Registration State, Plate Type, Issue Date, Violation Code, Vehicle Body Type, Vehicle Make, Issuing Agency, Street Code1, Street Code2, Street Code3, Vehicle Expiration Date, Violation Location, Violation Precinct, Issuer Precinct, Issuer Code, Issuer Command, Issuer Squad, Violation Time, Violation County, Violation In Front Of Or Opposite, House Number, Street Name, Intersecting Street, Date First Observed, Law Section, Sub Division, Violation Legal Code, Days Parking In Effect, From Hours In Effect, To Hours In Effect, Vehicle Color, Vehicle Year, Feet From Curb, Violation Post Code, Violation Description, Latitude, Longitude, datetime, tempmax, tempmin, temp, conditions, humidity, windspeed, visibility]
Index: []

[0 rows x 47 columns]

Empty DataFrame
Columns: [Summons Number, Plate ID, Registration State, Plate Type, Issue Date, Violation Code, Vehicle Body Type, Vehicle Make, Issuing Agency, Street Code1, Street Code2, Street Code3, Vehicle Expiration Date, Violation Location, Violation Precinct, Issuer Precinct, Issuer Code, Issuer Command, Issuer Squad, Violation Time, Violation County, Violation In Front Of Or Opposite, House Number, Street Name, Intersecting Street, Date First Observed, Law Section, Sub Division, Violation Legal Code, Days Parking In Effect, From Hours In Effect, To Hours In Effect, Vehicle Color, Vehicle Year, Feet From Curb, Violation Post Code, Violation Description, Latitude, Longitude, datetime, tempmax, tempmin, temp, conditions, humidity, windspeed, visibility]
Index: []

[0 rows x 47 columns]

Empty DataFrame
Columns: [Summons Number, Plate ID, Registration State, Plate Type, Issue Date, Violation Code, Vehicle Body Type, Vehicle Make, Issuing Agency, Street Code1, Street Code2, Street Code3, Vehicle Expiration Date, Violation Location, Violation Precinct, Issuer Precinct, Issuer Code, Issuer Command, Issuer Squad, Violation Time, Violation County, Violation In Front Of Or Opposite, House Number, Street Name, Intersecting Street, Date First Observed, Law Section, Sub Division, Violation Legal Code, Days Parking In Effect, From Hours In Effect, To Hours In Effect, Vehicle Color, Vehicle Year, Feet From Curb, Violation Post Code, Violation Description, Latitude, Longitude, datetime, tempmax, tempmin, temp, conditions, humidity, windspeed, visibility]
Index: []

[0 rows x 47 columns]